.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 110px 0 110px;
}
.logo > img {
    width: 130px;
    height: 26.329px;
}
.right {
    display: flex;
    align-items: center;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-links > li {
    color: #0B0706;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style-type: none;
}
.nav-links > a {
    display: flex;
    padding: 12px 32px;
    border-radius: 4px;
    background: #1D2130;
    text-decoration: none;
    color: #fff;
}
